doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 게임종류
  link(rel='stylesheet' type='text/css' href='css/reset.css')
  link(rel='stylesheet' type='text/css' href='css/style.css')
.logo
  img(src='' )
.header_title
  h1 게임 목록