doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 주문하기
  link(rel='stylesheet' type='text/css' href='css/reset.css')
  link(rel='stylesheet' type='text/css' href='css/style.css')
.logo
  img(src='' )
.game
  h1 원하는 메뉴를 선택해주세요.
  