doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 게임방
  link(rel='stylesheet' type='text/css' href='css/reset.css')
  link(rel='stylesheet' type='text/css' href='css/style.css')
.logo
  img(src='' )
.room_info
  button.row.button.solid.primary(onclick="location.href='./room'") 방 만들기
  button.row.button.solid.primary(onclick="location.href='./user_check'") 둘러보기
  button.row.button.solid.primary(onclick="location.href='./main'") 메인화면
  button.row.button.solid.primary(onclick="location.href='./logout'") 로그아웃